@page
@model AspNetRezorPagesProject.Pages.Account.ForgotPasswordModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Forgot Password";
}


<div class="auth-card">
    <form method="post" novalidate>

        <div class="form-group">
            <p class="auth-subtitle">
                Введите адрес электронной почты, 
                связанный с вашим аккаунтом.
                Мы отправим вам ссылку для сброса пароля.</p>

            <input asp-for="Email" class="form-control" placeholder="email@example.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>    

        <button type="submit" class="btn-primary">
            Отправить
        </button>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
