@page
@model AspNetRezorPagesProject.Pages.Account.ForgotPasswordConfirmationModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Email Sent";
}


<div class="auth-card">

    <div class="alert alert-success">
        Ссылка для сброса пароля отправлена
        на указанный адрес.
    </div>

</div>