@page
@model AspNetRezorPagesProject.Pages.Account.ForgotPasswordModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Forgot Password";
}


<div class="auth-card">

    <form method="post" novalidate>

        <div class="form-group">
            <p class="auth-subtitle">Введите адрес электронной почты, 
                связанный с вашим аккаунтом. Мы отправим вам ссылку 
                для сброса пароля.</p>
            <input class="form-control" placeholder="email@example.com" />
            <span class="text-danger"></span>
        </div>    
        <button type="submit" class="btn-primary">Send</button>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
