@page
@model AspNetRezorPagesProject.Pages.Account.RegisterModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Registration";
}

<div class="auth-card">

    <h2 class="auth-title">Registration</h2>

    <form method="post" novalidate>

        <div class="form-group">
            <label asp-for="RegisterDto.Name" class="auth-label">Имя</label>
            <input asp-for="RegisterDto.Name" class="form-control" />
            <span asp-validation-for="RegisterDto.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RegisterDto.Email" class="auth-label">Электронная почта</label>
            <input asp-for="RegisterDto.Email" class="form-control" />
            <span asp-validation-for="RegisterDto.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RegisterDto.Password" class="auth-label">Пароль</label>
            <input asp-for="RegisterDto.Password" type="password" class="form-control" />
            <span asp-validation-for="RegisterDto.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RegisterDto.ConfirmPassword" class="auth-label">Подтвердить пароль</label>
            <input asp-for="RegisterDto.ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="RegisterDto.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-primary">Зарегистрироваться</button>

        <div class="auth-footer">
            <span>Есть аккаунт?</span>
            <a asp-page="/Account/Login">Войти</a>
        </div>

    </form>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
