@page
@model AspNetRezorPagesProject.Pages.Auth.RegisterModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Registration";
}

<div class="auth-card">

    <h2 class="auth-title">Registration</h2>

    <form method="post" novalidate>

        <div class="form-group">
            <label asp-for="RegisterDto.Name" class="auth-label">Name</label>
            <input asp-for="RegisterDto.Name" class="form-control" />
            <span asp-validation-for="RegisterDto.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RegisterDto.Email" class="auth-label">Email</label>
            <input asp-for="RegisterDto.Email" class="form-control" />
            <span asp-validation-for="RegisterDto.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RegisterDto.Password" class="auth-label">Password</label>
            <input asp-for="RegisterDto.Password" type="password" class="form-control" />
            <span asp-validation-for="RegisterDto.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RegisterDto.ConfirmPassword" class="auth-label">Confirm password</label>
            <input asp-for="RegisterDto.ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="RegisterDto.ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-primary">Зарегистрироваться</button>

        <div class="auth-footer">
            <span>Already have an account?</span>
            <a asp-page="/Auth/Login">Log in</a>
        </div>

    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
